.header {
  display: flex;
  height: 12.8rem;
  align-items: center;
  padding: 2.4rem 4.8rem;
  width: 100%;

  &__logo {
    height: 12.8rem;
  }

  &__search {
    display: none;
    position: relative;
    flex-basis: 33%;
    input {
      width: 100%;
      padding: 0.8rem;
      font-size: 1.6rem;
      font-family: inherit;
      border: none;
      border-radius: 9px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

      &::placeholder {
        color: #34421e;
      }
    }

    .icon-search {
      font-size: 2.4rem;
      position: absolute;
      right: 1.2rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.sticky {
  position: fixed;
  background-color: rgba(71, 72, 56, 0.95);
  z-index: 1;
}
