.hero-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  &__title {
    font-size: 4.7rem;
    font-weight: 600;
    color: $color-white;
    margin-bottom: 1.2rem;

    span {
      color: $color-secondary-light-1;
    }

    @include respond(tab-land) {
      // width < 1320?
      font-size: 4.4rem;
    }
    @include respond(tab-port) {
      // width < 1020?
      font-size: 3.6rem;
    }
  }

  &__search {
    position: relative;

    input {
      width: 100%;
      padding: 1.2rem;
      font-size: 1.8rem;
      font-family: inherit;
      border: none;
      border-radius: 9px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

      &::placeholder {
        color: #34421e;
      }
    }

    .icon-search {
      font-size: 2.4rem;
      position: absolute;
      right: 1.2rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
