//COLORS

$color-primary: #374818;
$color-primary-dark: #474838;
// #39491c
// #34421E
//#f3f3f1
$color-background: #f4f4f0;
//#f1f1ef

$color-secondary-dark-1: #ae852f;
$color-secondary: #c19434;
$color-secondary-light-1: #dabf85;
$color-secondary-light-2: #e6d4ae;

$color-white: #fff;

$color-grey: #444;
$color-grey-light-1: #9ca3af;
